# --- Настройки Приложения ---
APP_DEBUG=False
APP_ENV=production
LOG_LEVEL=INFO

# --- Настройки Пользователей и Безопасности ---
# Минимальная длина пароля
MIN_PASSWORD_LENGTH=8

# --- Финансовые параметры (Decimal) ---
# Баланс по умолчанию для нового пользователя
INITIAL_USER_BALANCE=100.00
# Стоимость одного вызова ML модели
MODEL_INFERENCE_COST=-0.01
# Валюта
CURRENCY=USD

# --- Параметры ML Модели ---
# Путь к файлу весов внутри контейнера (Path)
MODEL_PATH=/app/models/model_path.txt
# Устройство для вычислений (cpu, cuda)
MODEL_DEVICE=cpu



