version: "3.8"
services: 
  app:
    build: ./app/
    image: event-planner-api:latest 
    container_name: event-planner-api
    env_file:
    - ./app/.env
    volumes:
      - ./app:/app
    depends_on:
      - db
    networks:
      - event-planner-network
  db:
    image: postgres:16-alpine
    container_name: event-planner-db
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - event-planner-network

volumes:
  postgres_data:

networks:
  event-planner-network:
    name: event-planner-network
    driver: bridge